.game {

    display: flex;
    flex-direction: column;
    background-color: $black;
    height: 100vh;
    
    p, 
    a {
        @include font();
        color: $white;
        font-size: 2rem;
    }

    h3 {
        font-size: 3rem;
        color: $gold;
        @include font();
        text-shadow: 2px 2px 4px $black;
    }

    h4 {
        font-size: 1rem;
        color: $gold;
        @include font();
        text-shadow: 2px 2px 4px $black;
    }

    img[src="assets/PP7.png"]{
        width: 100%;
    }

    video[src="assets/you-win.mp4"] {
        width: 77%;
    }

    .user-controls, 
    .computer-zone {
        @include flex-row-centered();
        justify-content: space-evenly;
        border: black 4px solid;
        background: $black;
        flex: 1;
        padding: 10px 0;
    }

    .game-field {
        border:$black 1px solid;
        position: relative;
        background: url(./../assets/level.jpg) no-repeat bottom;
        background-size: 1200px;
        flex: 4;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .black-background {
        background: black;
    }

    p.user-choice,
    .user-ammo,
    .computer,
    .computer-ammo,
    .user-life-points,
    .computer-life-points {
        border:$white 3px solid;
        border-radius: 10px;
        padding: 15px 20px;
    }

    p.user-choice, 
    .computer {
        background-color: white;
    }

    p.user-choice:hover {
            border: $gold 3px solid;
            background-color: $white;
    }

    p.user-choice:hover img {
            transform: scale(1.2);
    }

    .user-ammo, 
    .computer-ammo, 
    .user-life-points,
    .computer-life-points {
        text-align: center;
        width: 150px;
        height: 100px;
    }

    .user-ammo, 
    .computer-ammo {
        @include flex-col-centered();
        justify-content: space-around;
    }

    .user-life-points,
    .computer-life-points {
        @include flex-row-centered();
        justify-content: space-evenly;
    }

    .fa-heart {
        font-size: 1.8rem;
        color:red;
        margin: 0 5px;
    }

    .user-ammo-counter, 
    .computer-ammo-counter {
        
        color: red;
    }

    .user-results-box {
        position: absolute;
        bottom: 20px;
        left: 150px;
    }

    .cpu-results-box {
        position: absolute;
        top: 20px;
        right: 150px;
    }

    .play-again {
        @include flex-col-centered();
        @include font();
        color: $gold;
    }

    .play-again h2 {
        font-size: 4rem;
        margin-bottom: 30px;
    }

    .play-again a {
        border: 1px solid $white;
        padding: 15px 20px;
    }

    .user-gun {
        width: 250px;
        height: 250px;
        position: absolute;
        bottom: 0;
        right: 350px;
    }

    .enemy {
        position: relative;
        left: 250px;
        overflow: hidden;
    }

}


@media (max-width: 1060px) {
    .game {
        .enemy {
            left: 150px;
        }

        .user-gun {
            right: 150px;
        }

        h3 {
            font-size: 2rem;
        }

    }
}

@media (max-width: 880px) {
    .game {
        .user-results-box {
            left: 50px;
        }

        .cpu-results-box {
            right: 50px;
        }
    }
}


@media (max-width: 680px) {
    .game {
        .enemy {
            left: 50px;
        }

        .user-gun {
            right: 50px;
        }

        .user-controls {
            flex-wrap: wrap;
            overflow: auto;
        }

        .user-ammo {
            order: -2;
            flex: 1 0 50%;
            margin-bottom: 10px;
        }

        .user-life-points {
            order: -1;
            flex: 1 0 50%;
            margin-bottom: 10px;
        }

        .computer-ammo,
        .computer-life-points {
            flex: 1 0 50%;
        }

        .computer {
            display: none;
        }

    }
}


@media (max-width: 500px) {
    .game {

        .enemy {
            left: 5px;
        }

        .user-gun {
            right: 5px;
        }

        .user-results-box {
            left: 15px;
        }

        .cpu-results-box {
            right: 15px;
        }
    }
}