.landing {
    header {
        background-color: $black;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .landing-info {
        @include flex-col-centered();
        color: $white
    }

    .accept {
        border: 1px solid $white;
        padding: 15px 20px;
    }

    h1 {
        font-size: 7rem;
    }

    header p {
        font-size: 2rem;
        margin: 20px 0;
    }

}