$white: #FFFFFF;
$black: #000000;
$gold: #C4944B;

@mixin flex-row-centered() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-centered() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin font() {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
}